---
name: Test Changes

'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Install Shfmt
        uses: mfinelli/setup-shfmt@a25fda4c1fe115aec0f85e04126610841bc3141d # v4.0.1

      - name: Lint shell scripts
        run: make lint

  run-ocp:
    needs: lint-scripts
    # Skip for Dependabot PRs - secrets are not available
    if: github.actor != 'dependabot[bot]'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]
        ocp: ['4.18', '4.19', '4.20', 'latest']
    runs-on: ${{ matrix.os }}
    env:
      SHELL: /bin/bash
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: check if OCP_PULL_SECRET exists
        env: 
          super_secret: ${{ secrets.OCP_PULL_SECRET }}
        if: ${{ env.super_secret == '' }}
        run: 'echo the secret \"OCP_PULL_SECRET\" has not been made; echo please go to \"settings \> secrets \> actions\" to create it'

      - name: Run the action
        uses: ./
        with:
          ocpPullSecret: $OCP_PULL_SECRET
          bundleCache: true
          desiredOCPVersion: ${{ matrix.ocp }}
        env:
          OCP_PULL_SECRET: ${{ secrets.OCP_PULL_SECRET }}
